{% extends "mainapp/base.html" %}

{% block content %}

{% load static %}

<div class="main">
    <div class="mainbit">
        <h2 id="text">Meet like <span class="mind"> minded </span>people</h2>
        
        <form action="{% url 'mainapp:search_results' %}" method="GET" value="{{request.GET.q}}">
                <!-- <input name="q" value="{{request.GET.q}}" type="text" placeholder="Search"> -->
                <input autofocus required name="q" value="{{request.GET.q}}" type="text" id="search" placeholder="Search">
                
            </form>
            <!-- <form action="{% url 'mainapp:search_results_user' %}" method="GET" value="{{request.GET.q}}">
                <input name="q" value="{{request.GET.q}}" type="text" placeholder="Search">
                <input name="q" value="{{request.GET.q}}" type="text" id="search" placeholder="Search for people">
                
            </form> -->
    </div>
</div>

{% endblock %}