{% load static %}

<div id="sidebar">
        <img draggable="false" style="border-radius: 50%; text-align: center; user-select: none; overflow: visible; margin: 0 auto; box-shadow: 0 0 0 12.25pt white;" class="header-profile-image" src="{{ username.userprofileinfo.image.url }}" alt="Profile Image">
        <div style="transform: translateY(-20%);" class="profile-info-profile">
      <h1 id="header-profile"><a style="color: #4287f4; text-decoration: none;" href="{% url 'mainapp:view_profile_with_pk' username %}">@{{ username }}</a>{% if username.userprofileinfo.verified %} <img style="user-select: none;" draggable="false" title="Verified User" class="verifed" src="{% static 'images\verified.png' %}" alt="verified" width="20" height="20" srcset=""> {% endif %} {% if user.userprofileinfo.moderator %}<span title="Moderator" id="moderator">[M]</span>{% endif %}</h1>
      <h2 id="header-profile">{{ username.first_name }} {{ username.last_name }}</h2>
      <h3 id="description-profile-page">{{ username.userprofileinfo.description }}</h3>
      <a id="message-user" href="{% url 'mainapp:message-form' username %}">
      <div id="message-user-div">
      <h4 id="description-profile-page"><i class="fas fa-comment"></i></h4>
      </div>
      </a>
      <br>
      <div class="tags-list-detail">
        {% for tag in username.userprofileinfo.tags.all %}
        <a style="user-select: none;" class="" href="{% url 'mainapp:tagged' tag.slug %}">
          <button style="background: {{ username.userprofileinfo.colour }};" class="tag-list-box-profile-profile profile-link">{{ tag.name|safe|linebreaksbr|truncatechars_html:10 }}</button>
          </a>
        
          {% empty %}
          <li style="user-select: none;">No tags</li>
          {% endfor %}
          </div>
          
          </div>
    </div>