{% load static %}

<div id="sidebar">
        <img draggable="false" style="border-radius: 50%; user-select: none; overflow: visible;" class="header-profile-image" src="{{ user.userprofileinfo.image.url }}" alt="Profile Image">
        <div style="transform: translateY(-20%);" class="profile-info-profile">
      <h1 id="header-profile"><a href="{% url 'mainapp:view_profile_with_pk' pk=user.userprofileinfo.pk %}">@{{ user }}</a>{% if user.userprofileinfo.verified %} <img style="user-select: none;" draggable="false" title="Verified User" class="verifed" src="{% static 'images\verified.png' %}" alt="verified" width="20" height="20" srcset=""> {% endif %} {% if user.userprofileinfo.moderator %}<span title="Moderator" id="moderator">[M]</span>{% endif %}</h1>
      <!-- <h1 id="header-profile"><a href="{% url 'mainapp:view_profile_with_pk' pk=user.userprofileinfo.pk %}">@{{ user }}</a>{% if user.userprofileinfo.verified %} <i class="fas fa-check-circle"></i>{% endif %} {% if user.userprofileinfo.moderator %}<span title="Moderator" id="moderator">[M]</span>{% endif %}</h1> -->
      <h2 id="header-profile">{{ user.first_name }} {{ user.last_name }}</h2>
      <h3 id="description-profile-page">{{ user.userprofileinfo.description }}</h3>
      <br>
      <div class="tags-list-detail">
        {% for tag in user.userprofileinfo.tags.all %}
        <a style="user-select: none;" class="" href="{% url 'mainapp:tagged' tag.slug %}">
          <button style="background: {{ user.userprofileinfo.colour }};" class="tag-list-box-profile-profile profile-link">{{ tag.name|safe|linebreaksbr|truncatechars_html:10 }}</button>
          </a>
        
          {% empty %}
          <li style="user-select: none;">No tags</li>
          {% endfor %}
          </div>
          </div>
    </div>