{% extends 'mainapp/base.html' %}

{% block content %}
<form action="{% url 'mainapp:search_results' %}" method="GET" value="{{request.GET.q}}">
    <input name="q" value="{{request.GET.q}}" type="text" placeholder="Search">
</form>
<div class="centercontent">
    {% for post in post_list %}
    <div class="post">
        <h1><a title="View {{ post.title }}" class="title" href="{% url 'mainapp:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <h3><a href="{% url 'mainapp:post_detail' pk=post.pk %}">Read More</a></h3>
    
    <a class="comment" title="View all {{ post.approve_comments.count }} comments" href="{% url 'mainapp:post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
</div>
</div><br>

{% endfor %}
{% endblock %}
<!--The way this code works is-->