{% extends 'mainapp/base.html' %}
{% block content %}

<div class="search-container">
  {% if 'nigga' in request.GET.q %}
  <h3 class="search-results-thing">Your search query for <span class="search-thing"><strong>{{ request.GET.q }}</strong></span> was not processed</h3>
  {% else %}
  <div style="margin-bottom: 2rem;" class="search-and-new-block">
  <h3 class="search-results-thing" id="center-stuff-search">Search results for <span class="search-thing"><strong style="">{{ request.GET.q }}</strong></span></h3>
  {% if object_list.count == 0 %}
  <h3 id="center-stuff-search">Sorry, no search results were found for {{ request.GET.q }}</h3>
  <a id="center-stuff-search" href="{% url 'mainapp:post_list' %}">Return home</a>
  {% endif %}
</div>
  {% for post in object_list %}
  {% include 'mainapp/_post.html' %}

{% empty %}



{% endfor %}

  {% endif %}

{% endblock %}