{% extends 'mainapp/base.html' %}
{% load static %}
<script src="{% static 'js/app.js' %}"></script>
{% block content %}

      {% for post in posts %}
      <div class="content">
        {% include 'mainapp/_post.html' %}
      </div>
      {% endfor %}
<script>
    window.onscroll = function() {myFunction()};
    
    var navbar = document.getElementById("sidebar");
    var sticky = navbar.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
    </script>
{% endblock %}