/* CSS IS WORKING */
* {
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.navbar {
    display: flex;
    list-style: none;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0), 0 5px 5px rgba(0,0,0,0.2);
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}
.mind {
  background: linear-gradient(to right, #F22C7D 0%, #7F1DFF 100%); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navlink {
    text-decoration: none;
    color: black;
}
.fa-bars {
    font-size: 25px;
    cursor: pointer;
}
.fa-bars:hover {
  color: rgb(70, 70, 70);
}
.fa-search {
    font-size: 25px;
}
#dot {
    color: #3F51B5;
}

.main {
    padding-top: 15%;
    justify-content: space-around;
    text-align: center;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

  #search {
      text-align:center;
    padding-bottom:5px;
    background:
      linear-gradient(
        to left, 
        rgba(127, 29, 255, 1) 0%,
        rgba(127, 29, 255, 1) 12%,
        rgba(242, 44, 125, 1) 47%,
       rgba(242, 44, 125, 1) 100%
      )
      left 
      bottom
         
      no-repeat; 
    background-size:100% 5px ;
    
    border: none;
      width: 30%;
      text-align: center;
      font-family: 'Nunito', sans-serif;
      outline: none;
  }

  /* The side navigation menu */
.sidenav {
  font-family: 'Nunito', sans-serif;
    height: 100%; /* 100% Full-height */
    text-align: center;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    box-shadow: 10px 0 20px -10px #888;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #user_avatar {
      border-radius: 50%;
  }
  .formtext {
    padding-top: 2%;
    text-align: center;
    border: none;
    font-family: 'Nunito', sans-serif;
  }
  #usernameinput {
    border: none;
    border-bottom: solid black 2px;
    outline: none;
    width: 25%;
    font-family: 'Nunito', sans-serif;
  }
  .mainform {
    padding-top: 2%;
}
 #login {
  font-family: 'Nunito', sans-serif;
 }
 .accounttext {
   justify-content: space-around;
   text-align: center;
   padding-top: 5%;
 }
 #submit {
   justify-content: space-around;
   text-align: center;
   align-content: center;
   outline: none;
   border-radius: 20px;
   border: none;
   background-color: #3F51B5;
   padding: 10px 20px;
   font-family: 'Nunito', sans-serif;
   cursor: pointer;
   color: white;
 }
 #submit:hover {
   background: rgba(63, 81, 181, 0.719);
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   transform: translateY(-2px);
 }
 .submitdiv {
   justify-content: space-around;
   text-align: center;
 }

 /* POST LIST */

.centercontent {
  padding-top: 3%;
}
.post {
  font-family: 'Nunito', sans-serif;
  color: black;
  padding-left: 3%;
  background: rgb(221, 221, 221);
  margin: 1%;
  width: 80%;
  height: 150px;
  padding-top: 1%;
  border-radius: 20px;
}
.title {
  color: black;
}
.comment {
  color: black;
}

.postcontents {
  background: #3F51B5;
  margin: 2%;
  margin-right: 30%;
  font-family: 'Nunito', sans-serif;
  background: rgb(221, 221, 221);
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.posttitle {
  margin-left: 2%;
}
.postcontent {
  margin-left: 2%;
}
.postdate {
  margin-left: 2%;
}
.commentbtn {
  margin-left: 2%;
  padding: 8px 8px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: white;
  background:
      linear-gradient(
        to left, 
        rgba(127, 29, 255, 1) 0%,
        rgba(127, 29, 255, 1) 12%,
        rgba(242, 44, 125, 1) 47%,
       rgba(242, 44, 125, 1) 100%
      )
      left 
      bottom
         
      no-repeat; 
}
.aclass {
  color: white;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}
.commentbtn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: translateY(-2px);
}
.divider {
  width: 30%;
  margin-left: 2%;
  color: black;
  background: black;
  border: solid 2px black;
  border-radius: 50px;
  height: 1px;
}
.container {
  margin-left: 2%;
  font-family: 'Nunito', sans-serif;
}